#filterButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70vw;
    margin: 3rem 0 1rem 0;
    
  }
  
  .buttonFilter {
    width: 4rem;
    height: 2rem;
    border-radius: 1px;
    box-shadow: 0 8px 30px -3px #0000009c
  }